<div id="buttonbox">
    <a href="https://brainmade.org/" target="_blank" rel="noopener noreferrer">
        <img
            src="/images/logos/brainmade-dark.png"
            alt="Brainmade: Made by a human"
            loading="lazy"
        />
    </a>
    <a href="/humans.txt" rel="noopener noreferrer">
        <img
            src="/images/logos/human.svg"
            alt="Check out my humans.txt file"
            loading="lazy"
        />
    </a>
    <a href="https://www.fsf.org" target="_blank" rel="noopener noreferrer">
        <img
            src="/images/logos/fsf.png"
            alt="Free Software Foundation"
            style="max-width: 88px; height: 31px"
            loading="lazy"
        />
    </a>
    <a href="https://www.apple.com" target="_blank" rel="noopener noreferrer">
        <img
            src="/images/logos/macmade.gif"
            alt="Made with Mac"
            loading="lazy"
        />
    </a>
    <a href="https://linklane.net/" target="_blank" rel="noopener noreferrer">
        <img
            src="/images/logos/linklane.gif"
            alt="Listed at LinkLane"
            loading="lazy"
        />
    </a>
    <a
        href="https://wildwild.directory"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img
            src="/images/logos/wildwildweb.gif"
            alt="Listed at Wild Wild Web"
            loading="lazy"
        />
    </a>
</div>
<style>
    #buttonbox {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        line-height: 0;
        font-size: 0;
        background: transparent;
    }
    #buttonbox > * {
        margin: 0;
        padding: 10px;
    }
    #buttonbox a {
        box-shadow: none !important; /* Use !important to ensure override */
    }
</style>
